API/obj/API.csproj.nuget.dgspec.json
API/obj/API.csproj.nuget.g.props
API/obj/project.assets.json
API/obj/project.nuget.cache
API/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
API/obj/Debug/netcoreapp3.1/API.assets.cache
API/obj/Debug/netcoreapp3.1/API.csproj.CoreCompileInputs.cache
API/obj/Debug/netcoreapp3.1/API.csproj.FileListAbsolute.txt
API/obj/Debug/netcoreapp3.1/API.csproj.GenerateResource.cache
API/obj/Debug/netcoreapp3.1/API.csprojAssemblyReference.cache
API/obj/Debug/netcoreapp3.1/API.dll
API/obj/Debug/netcoreapp3.1/API.exe
API/obj/Debug/netcoreapp3.1/API.pdb
